.row.m-5
  .col.d-flex.justify-content-center
    .card
      %h2.card-header Resend confirmation instructions
      .card-body.p-4
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :email, class: "h5"
            = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control"
          .actions
            .row.d-flex.justify-content-center
              = f.submit "Resend confirmation instructions", class: "btn btn-primary w-75 mt-4"
= render "devise/shared/links"
