= form_for(group_member) do |f|
  - if group_member.errors.any?
    #error_explanation
      %h2
        = pluralize(group_member.errors.count, "error")
        prohibited this group_member from being saved:
      %ul
        - group_member.errors.full_messages.each do |message|
          %li= message
  - friends_list = []
  - @friends.each do |friend|
    - friends_list.push([friend[:username], friend[:user_id]])
  .field
    = f.label :username
    = f.select(:user_id , friends_list )
  .field#hidden_field
    = f.number_field :group_id
  .actions
    = f.submit
