
.card-body
  = form_for(group) do |f|
    - if group.errors.any?
      #error_explanation
        %h2
          = pluralize(group.errors.count, "error")
          prohibited this group from being saved:
        %ul
          - group.errors.full_messages.each do |message|
            %li= message
    - admin_options = []
    - @group.members.each do |member|
      - admin_options.push([member.username, member.id])
    .field.my-2.h5
      = f.label :admin
      = f.select(:admin_id, admin_options, {}, {class: "form-control mb-4"})
    .field.my-2.h5
      = f.label :group_name
      = f.text_field :group_name, class: "form-control mb-4"
    .field.my-2.h5
      = f.label :description
      = f.text_area :description, class: "form-control mb-4"
    .actions
      = f.submit class: "btn btn-primary my-3"  
