= form_for(group) do |f|
  - if group.errors.any?
    #error_explanation
      %h2
        = pluralize(group.errors.count, "error")
        prohibited this group from being saved:
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  - member_options = []
  - @group.members.each do |member|
    - member_options.push([member.username, member.id])
  .field
    = f.label :admin
    = f.select(:admin_id, member_options )
  .field
    = f.label :group_name
    = f.text_field :group_name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit