= form_for(group) do |f|
  - if group.errors.any?
    #error_explanation
      %h2
        = pluralize(group.errors.count, "error")
        prohibited this group from being saved:
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  - admin_options = []
  - @group.members.each do |member|
    - admin_options.push([member.username, member.id])
  .field
    = f.label :admin
    = f.select(:admin_id, admin_options )
  .field
    = f.label :group_name
    = f.text_field :group_name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit

%td= button_to 'Delete Group', {action: 'destroy', controller: 'groups', id: group[:id]}, method: :delete, data: { confirm: 'Are you sure you want to delete this group? It will erase this group for all group members as well.' }
