
.container
  .row
    .col-8 
      %p
        %strong Admin:
        = @group.admin.username
      %p
        %strong Group name:
        = @group.group_name
      %p
        %strong Description:
        = @group.description
      - if @current_user.id == @group.admin_id
        = render 'groups/edit', group: @group
    .col-4
      = render 'group_members/new', group_member: @group_member
      = render 'group_members/index'

  .row
    .col-12
      = render 'events/new', event: @event, group: @group, games: @games 
      = render 'simple_calendar/my_calendar', events: @events

  = button_to 'Back to Dashboard', {action: 'index', controller: 'dashboards'}, method: :get