= form_for [group, event] do |f|
  - if event.errors.any?
    #error_explanation
      %h2
        = pluralize(event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - event.errors.full_messages.each do |message|
          %li= message
  - required_players = Array.new(12).map.with_index {|n, i| n = [i+1, i+1]}
  .field
    = f.label :game_id
    = f.text_field :game_id
  .field
    = f.label :required_players
    = f.select( :required_players, required_players )
  .field
    = f.label :details
    = f.text_area :details
  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = hidden_field_tag :admin_id, group.admin_id
  .actions
    = f.submit
