= form_for [event, chat] do |f|
  - if chat.errors.any?
    #error_explanation
      %h2
        = pluralize(chat.errors.count, "error")
        prohibited this chat from being saved:
      %ul
        - chat.errors.full_messages.each do |message|
          %li= message
  .row.d-flex.justify-content-center.text-center
    .col-lg-6
      .field.mt-4
        = f.label :comment, class: "h4"
        = f.text_area :comment, {placeholder: "Say something to your buddies...", class: "form-control"}
  .actions
    .row
      .col.text-center
        = f.submit "Post to this event's board.", class: "btn btn-outline-primary w-50 mt-4"
