%h1 Games
%table
  %thead
    %tr
      %th Game name
      %th Description
      %th Video game
      %th Genre
      %th{:colspan => "3"}
  %tbody
    - @games.each do |game|
      %tr
        %td= game.game_name
        %td= game.description
        %td= game.video_game
        %td= game.genre
        %td= link_to 'Show', game
        %td= link_to 'Edit', edit_game_path(game)
        %td= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Game', new_game_path
