.container.text-center 
    %h1 
        Welcome to Game Night #{current_user.username}!
    .row
        .col-8
            = render "groups/new"
            = render "groups/index"
        .col-4
            = render "friends/new"
            = render "friends/index"