.container.text-center 
    %h1.h1.my-5
        Welcome to Game Night #{current_user.username}!
    .row
        .col-lg-8
            = render "groups/new"
            = render "groups/index"
        .col-lg-4
            = render "friends/new"
            = render "friends/index"
    .row
        .col-12
            = render "simple_calendar/my_calendar", events: @events