%p#notice= notice
%h1 Favorite Games
%table
  %thead
    %tr
      %th Game
      %th User
      %th{:colspan => "3"}
  %tbody
    - @favorite_games.each do |favorite_game|
      %tr
        %td= favorite_game.game_id
        %td= favorite_game.user_id
        %td= link_to 'Show', favorite_game
        %td= link_to 'Edit', edit_favorite_game_path(favorite_game)
        %td= link_to 'Destroy', favorite_game, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Favorite Game', new_favorite_game_path
